<div class="navbar">
    <h2>INCOME</h2>
  </div>
  
  <div class="main-container">
    <div class="container">
      <h2>Income</h2>
  
      <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()" class="input-form">
        <div class="form-group">
          <select
            formControlName="month"
            id="month"
            class="form-control"
            (change)="onChange($event)"
          >
            <option value="" disabled>Select Month</option>
            <option *ngFor="let month of ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']" [value]="month">{{ month }}</option>
          </select>
        </div>
  
        <div class="total-income">
          Total Income for {{ selectedMonth }}: R{{ calculateTotalIncome() }}
        </div>
  
        <div class="form-group">
          <label for="investments">Investments:</label>
          <select formControlName="investments" id="investments" class="form-control" [class.disabled-dropdown]="!monthSelected">
            <option value="" disabled>Select Investments</option>
            <option *ngFor="let investment of ['Crypto', 'Index Funds', 'NFTs', 'Tech ETFs', 'Luxury Sneakers', 'Community Events']" [value]="investment">{{ investment }}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="source">Source of Income:</label>
          <select formControlName="source" id="source" class="form-control" [class.disabled-dropdown]="!monthSelected">
            <option value="" disabled>Select Source</option>
            <option *ngFor="let source of ['Tech Startup Side Hustle', 'Social Media Content Creation', 'Thrift Flip Sales', 'App Development Freelance', 'eSports Streaming', 'Weekend Food Pop-Up']" [value]="source">{{ source }}</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input
            type="number"
            formControlName="amount"
            id="amount"
            class="form-control"
            placeholder="Enter amount"
            [class.disabled-dropdown]="!monthSelected"
          />
        </div>
       
        <button type="submit" class="btn btn-primary" (click)="onSubmit()"

        [class.disabled-dropdown]="!monthSelected">Add Income</button>


      </form>
  
      <hr />
  
      <h3>Income List - {{ selectedMonth }}</h3>
  
      <table class="table">
        <thead>
          <tr>
            <th>Source of Income</th>
            <th>Amount</th>
            <th>Investments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let income of getFilteredIncomes()">
            <td>{{ income.source }}</td>
            <td>{{ income.amount }}</td>
            <td>{{ income.investments }}</td>
          </tr>
        </tbody>
      </table>
  
      <div class="input-form">
        <button class="btn btn-primary" (click)="onBack()">Back</button>
        <button class="btn btn-primary" (click)="saveForm()">Save</button>
      </div>
    </div>
  </div>
  